/* src/pages/OrderPage.css */
.order-page {
    padding: 20px;
  }
  
  .order-page .card {
    margin: 10px 0;
  }
  
  .order-id {
    font-size: 1.5rem; /* Taille plus grande pour le numéro de commande */
    font-weight: bold;
    margin-bottom: 15px; /* Ajout de marge inférieure */
  }
  
  .order-details {
    display: flex;
    justify-content: space-between;
    margin-top: 20px; /* Augmente la marge supérieure */
  }
  
  .order-detail-item {
    flex: 1;
    text-align: center;
    margin-right: 10px; /* Ajuste la marge entre les éléments */
  }
  
  .order-detail-item:last-child {
    margin-right: 0;
  }
  
  .order-details .revenue {
    color: green; /* Revenus en vert */
  }
  
  .logo {
    width: 50px; /* Ajuster la taille du logo selon vos besoins */
  }
  
  .profile-button .profile-icon {
    width: 40px; /* Ajuster la taille de l'icône de profil selon vos besoins */
  }
  