/* src/pages/ProfilePage.css */

.profile-page {
  padding: 20px;
  min-height: 100vh;
  background-color: #f8f9fa;
}

.logo {
  width: 100px; /* Ajuster la taille du logo selon vos besoins */
}

.profile-button .profile-icon {
  width: 80px; /* Ajuster la taille de l'icône de profil selon vos besoins */
}

.return-button {
  width: 150px; /* Largeur fixe pour le bouton Retour */
  font-weight: bold;
  margin-bottom: 20px; /* Espacement sous le bouton Retour */
}

.card {
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

button {
  font-weight: bold; /* Tous les boutons en gras */
}
